<div class = "basic-grey">
  

  <h1>Listando os Tipos</h1> 
  <!-- 1°%= qlq coisa % e 2°% qlq coisa %, servem para misturar codigo html com ruby.
  a diferença está no fato de que o 1° é mostrado na tela e o 2° não.-->

  <table class = "table table-hover">
    <thead>
      <tr>
        <th><%= @kinds.model.human_attribute_name("description")%></th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @kinds.each do |kind| %>
        <tr>
          <td><%= kind.description %></td>
          <td><%= link_to t('buttons.edit'), edit_kind_path(kind) %></td>
          <td><%= link_to t('buttons.destroy'), kind, method: :delete, data: { confirm: t('messages.confirm') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to t('buttons.new'), new_kind_path, class: "btn btn-primary" %>
  <%= link_to t('buttons.home'), root_path, class: "btn btn-success" %>
</div>